<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Baseball Graph Generator</title>
</head>
<body>
    <h1>Baseball Graph Generator</h1>

    <form id="graph_form" action="/" method="post">
        <div class="mainInput">
            <input type="text" id="stat1" value="{{request.form['xstat']}}" name="xstat" placeholder="x-axis">
            <input type="text" id="stat2" value="{{request.form['ystat']}}" name="ystat" placeholder="y-axis">
            <button type="button" id="generate_btn" name="generate_btn">Generate</button>
        </div>
        <br/>
        <div style="width:50%;margin:auto;display:flex;">
            <h2>Settings</h2>
        </div>
        <div class="mainSettings">
            <input type="checkbox" id="labelSetting" name="labelSetting">
            <label
                title="
                    Algorithm for labeling is unrefined and can be unhelpful if graph plots are packed together,
also doesn't recognize that some logos are mostly transparent when detecting overlap
                "
                for="labelSetting">
                Label Overlapped (Experimental)
            </label>
        </div>
    </form>
    <br/>
    <img src="{{ result_image }}" alt="" visible="{{ show_image }}">

    <script>
        $( function() {
            var availableTags = [
                {% for term in terms %}
                    "{{term}}",
                {% endfor %}
            ];
            $("#stat1").autocomplete({
                source: availableTags,
                minLength: 0,
                open: function(event, ui) {
                    $(this).autocomplete("widget").css({
                        "width": ($(this).width() + "px")
                    });
                }
            }).on('focus', function() { $(this).autocomplete("search"); });
            $("#stat2").autocomplete({
                source: availableTags,
                minLength: 0,
                open: function(event, ui) {
                    $(this).autocomplete("widget").css({
                        "width": ($(this).width() + "px")
                    });
                }
            }).on('focus', function() { $(this).autocomplete("search"); });
            function onClickBox() {
                let checked=$("#labelSetting").is(":checked");
                localStorage.setItem("checked", checked);
            }
            $("#generate_btn").on('click', function() {
                let valid = true;
                if ($("#stat1").val().length === 0) {
                    $("#stat1").css({"border-bottom-color": "#B00020"});
                    valid = false;
                }
                if ($("#stat2").val().length === 0) {
                    $("#stat2").css({"border-bottom-color": "#B00020"});
                    valid = false;
                }
                if (valid) {
                    $("#stat1").css({"border-bottom-color": "#424242"});
                    $("#stat2").css({"border-bottom-color": "#424242"});
                    $("#graph_form").trigger("submit");
                }
            });
            let checked="true"==localStorage.getItem("checked");
            $("#labelSetting").prop('checked', checked);
            $("#labelSetting").on('click', onClickBox);

        } );
    </script>

</body>
</html>